.idea/
.terraform/
.env


venv/
__pycache__/
upload/

*.pyc
.coverage

coverage.xml

firebase-adminsdk.json
voicereader-vm.pem
config.development.json
config.production.json
secrets.tar

*.pub
terraform_ec2_key

VERSION

inventory